[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
jaxtyping = "*"
numpy = "==1.26.4"
scipy = "*"
tensorflow-probability = "*"
jaxopt = "*"
isssm = {file = ".", editable = true}
nbdev = "*"

[dev-packages]
matplotlib = "*"
nbdev = "*"

[requires]
python_version = "3.10"
